.gallery {
  margin: 0 48px 0;
  padding: 0;
  display: grid;
  gap: 16px 16px;
  grid-template-columns: repeat(4, auto);
  box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
  .gallery {
    gap: 14px 14px;
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 850px) {
  .gallery {
    margin: 0 24px 0;
    gap: 16px 16px;
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 450px) {
  .gallery {
    margin: 0 16px 0;
    gap: 12px 12px;
    grid-template-columns: repeat(1, auto);
  }
}