.places {
  margin: 92px 11.5625vw 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
  .places {
    margin: 92px 4.6875vw 0;
  }
}

@media screen and (max-width: 850px) {
  .places {
    margin: 90px 3.125vw 0;
  }
}

@media screen and (max-width: 550px) {
  .places {
    margin: 64px 0 0;
  }
}
