.places {
  margin: 92px 11.5625vw 12px;
  box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
  .places {
    margin: 92px 4.6875vw 12px;
  }
}

@media screen and (max-width: 850px) {
  .places {
    margin: 88px 3.125vw 0;
  }
}

@media screen and (max-width: 450px) {
  .places {
    margin: 64px 0 0;
  }
}
