.menu__link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-right: 18px;
}

@media screen and (max-width: 450px) {
  .menu__link {
    margin: 64px 230px 32px 16px;
  }
}