.intro__text {
  max-width: 690px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 850px) {
  .intro__text {
    max-width: 90vw;
  }
}
