.header__caption {
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 11.5625vw 0px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .header__caption {
    margin-left: 148px;
    margin-right: 826px;
  }
}

@media screen and (max-width: 1050px) {
  .header__caption {
    margin-left: 4.6875vw;
    margin-right: 4.6875vw;
  }
}

@media screen and (max-width: 850px) {
  .header__caption {
    margin-left: 3.125vw;
    margin-right: 3.125vw;
  }
}

@media screen and (max-width: 450px) {
  .header__caption {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}