.link__heading {
  width: 456px;
  color: #AAA;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 106px 0 12px 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .link__heading {
    max-width: 45.833vw;
  }
}