.link__heading {
  max-width: 456px;
  color: #AAA;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0 0 12px 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  .link__heading {
    max-width: 45.833vw;
  }
}

@media screen and (max-width: 550px) {
  .link__heading {
    margin: 0 0 12px 0;
  }
}