.place {
  display: flex;
  justify-content: space-between;
  margin: 0 11.5625vw 80px;
}

@media screen and (max-width: 1050px) {
  .place {
    margin: 0 4.6875vw 80px;
  }
}

@media screen and (max-width: 800px) {
  .place {
    margin: 0 3.125vw 80px;
  }
}