.place {
  display: grid;
  gap: 40px 48px;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .place {
    grid-template-rows: repeat(5, 1fr);
  }
}