.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 24px;
  width: 92.5vw;
}

@media screen and (max-width: 800px) {
  .footer {
    margin: 88px 24px 24px;
    width: 93.75vw;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    align-items: flex-end;
    justify-content: last baseline;
  }
}