.header__title {
  max-width: 720px;
  color: #FFF;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  margin: 56px 21.875vw 32px;
}


@media screen and (max-width: 1050px) {
  .header__title {
    margin: 48px auto 32px;
  }
}

@media screen and (max-width: 850px) {
  .header__title {
    width: 100%;
    font-size: calc(100vw * 0.125);
    line-height: 1.05;
    margin: 48px auto 32px;
  }
}

@media screen and (max-width: 450px) {
  .header__title {
    width: 90vw;
    font-size: 40px;
    line-height: 1.1;
    margin: 48px auto 16px;
  }
}


