.place__header {
  max-width: 35.9375vw;
  text-align: left;
  color: #FFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .place__header {
    max-width: 42.96875vw;
  }
}

@media screen and (max-width: 800px) {
  .place__header {
    max-width: 44.270vw;
    font-size: 42px;
    line-height: 46px;
  }
}
