.intro__title {
  max-width: 690px;
  color: #FFF;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.07;
  text-align: left;
  margin: 0 0 40px 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  .intro__title {
    max-width: 93.75vw;
    line-height: 1.05;
  }
}

@media screen and (max-width: 450px) {
  .intro__title {
    max-width: 90vw;
    font-size: 32px;
    line-height: 35px;
    line-height: 1.1;
  }
}